@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg_color;
  }
}

@layer components {
  .btn {
    @apply px-7 py-4 rounded-xl;
  }

  .img {
    @apply w-24 h-[480px] object-cover rounded-lg;
  }

  .custom-navigation {
    display: flex;
    align-items: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 15px;
  }

  .bg {
    /* background-image: url('./assets/images/Bg1.jpg'); */
    background-image: url('./assets/images/Bg1.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
}